.testimonial1-container {
    width: 100%;
    max-width: 358px;
    min-height: 396px;
    margin: 0 auto;
  }

  .testimonial1-container .text1-container {
    position: relative;
    width: 100%;
    height: 266px;
    background-color: rgb(48, 86, 211);
    padding: 22.2px 43px 66px 43px;
    box-shadow: 0px 10px 20px rgba(11, 82, 188, 0.15);
    border-radius: 10px;
  }
  .testimonial1-container .text1-container p{
    color: white
  }

  .testimonial1-container .text1-container img {
    display: block;
    margin: 0 auto 19.2px;
  }

  .testimonial1-container .text1-container p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .testimonial1-container .text1-container .profile-pic {
    position: absolute;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-bottom: 0;
    top: 219px;
    left: 125px;
    object-fit: cover;
  }

  .testimonial1-container .text1-container .blue-shadow {
    width: 108px;
    height: 108px;
    background-color: #00000091;
    opacity: 0.15;
    border-radius: 50%;
    top: 219px;
    left: 125px;
  }

  .testimonial1-container .name {
    margin-top: 80px;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  .testimonial1-container .position {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-align: center  ;
  }

  .text1-container .quote{
    width: 60px;
    height: 60px;
  }


  @media only screen and (min-width: 320px) and (max-width: 520px) {
    .testimonial1-container {
      width: 100%;
      max-width: 420px;
      min-height: 0;
      height: auto;
      margin: 30px auto;
    }
  }
