.testimonials-main {
  width: 100%;
  max-width: 1536px;
  margin: 175px auto 176px;
  padding: 0 24px;
  height: auto;
  box-sizing: border-box;
}

.testimonials-main h1 {
  margin: 0;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
  line-height: 30px;
  color: var(--blue);
}

.testimonials-main .description {
  margin: 0;
  margin-top: 19px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 50px;
}

.testimonials-main .testimonials-container {
  position: relative;
  width: 100%;
  min-height: 0;
  margin: 0 auto;
  padding: 40px 0 0;
}

.testimonials-main .testimonials-container .dotted {
  position: absolute;
  background-image: url("../../assets/dottedd.webp");
  background-size: cover;
  top: 0;
  left: 265px;
  width: 66px;
  height: 91px;
  pointer-events: none;
}

.testimonials-main .testimonials-container .dotted+.d2 {
  top: 15px;
  left: 805px;
}

.testimonials-main .testimonials-container .dotted+.d3 {
  top: 330px;
  left: 80px;
}

.testimonials-main .testimonials-container .dotted+.d4 {
  top: 330px;
  left: 987px;
}

.testimonials-main .testb-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px auto 20px;
}

.testimonials-main .cards-grid {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  grid-template-rows: auto auto;
  gap:20px 20px;
  justify-items: center;
  align-items: start;
}

.testimonials-main .cards-grid .card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonials-main .cards-grid .card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: -190px;
}

.testimonials-main .cards-grid .card-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: -350px;
}

.testimonials-main .cards-grid .card-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-top: -190px;
}


@media only screen and (min-width: 320px) and (max-width: 520px) {
  .testimonials-main {
    width: 100%;
    margin: 40px 0 120px;
    padding: 0 16px;
  }

  .testimonials-main h2 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .testimonials-main .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .testimonials-main .testimonials-container {
    padding-top: 0;
  }

  .testimonials-main .testimonials-container .dotted {
    display: none;
  }

  .testimonials-main .cards-grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .testimonials-main .cards-grid .card-wrapper {
    margin-top: 0;
  }
}

@media only screen and (min-width: 521px) and (max-width: 920px) {
  .testimonials-main .cards-grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    grid-template-rows: auto auto;
  }

  .testimonials-main .cards-grid .card-1,
  .testimonials-main .cards-grid .card-3 {
    margin-top: 0;
  }

  .testimonials-main .cards-grid .card-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .testimonials-main .cards-grid .card-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .testimonials-main .cards-grid .card-2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}