:root {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

html,
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: black;
  font-family: 'Muli', sans-serif;
}

.site-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50px;
}

.main-container {
  max-width: 1136px;
  margin: 0 auto;
}
