:root {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

html,
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: black;
  font-family: 'Muli', sans-serif;
}



.main-container {
  max-width: 1136px;
  margin: 0 auto;
}


@media only screen and (min-width: 320px) and (max-width: 520px) {
  .site-container {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

